@import 'variables';

.AddList div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 35px 40px;
    background: $bgColor2;
    box-shadow: 0px 4px 20px rgba(77, 166, 186, 0.38);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
        p {
        margin: auto auto;
        padding: 30px 5px;
        font-size: 2rem;
        font-weight: 700;
    }
    label {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 5px;
        color: #030102;
    }
    input {
        padding: 8px 12px;
        background: #E2E6EE;
        border: none;
        box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        &:focus {
            background-color: $bgColor2;
            outline-color: #E2E6EE;
        }
    }

    select {
        width: 100%;
        padding: 8px 12px;
        appearance: none;
        background: #E2E6EE;
        box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        &:focus {
            background-color: $bgColor2;
            outline-color: #E2E6EE;
        }
        option::selection{
            color: red;
        }
    }
    button {
        width: 100%;
        padding: 10px 20px;
        margin-top: 30px;
        background: #288FB4;
        color: #ffff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    button[disabled] {
        background: #9fbec9;
        cursor: not-allowed;
    }
}