@import 'variables';
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto';
    font-style: normal;
    background-color: $bgColor1;
    color: #000;
}

a {
    color: inherit;
    text-decoration: none;
}
main {
    margin: 200px 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}